* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: black;
    height: calc(100vh - 100px);
}

footer {
    background-color: rgb(78, 78, 78);
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    width: calc(100% / 7 - 20px);
    background-color: red;
    margin: 10px;
}

.img-container img {
    width: 100%;
    background-size: cover;
    height: 100%;
}

.justify-center {
    justify-content: center;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}