* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 40px;
    background-color: black;
}

main {
    background-color: black;
    height: calc(100vh - 115px);
    overflow: auto;
}

footer {
    background-color: rgb(26, 26, 26);
    height: 75px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}


.img-container {
    width: calc(100% / 7 - 20px);
    background-color: red;
    margin: 10px;
}

.img-container img {
    width: 100%;
    background-size: cover;
    height: 100%;
}


.justify-center {
    justify-content: center;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.row {
    width: 100%;
    height: 75px;
}

.mic-vid, .meeting-utilities {
    width: 100%;
    height: 100%;
}

button {
    display: inline-block;
    width: 20%;
    line-height: 20px;
    border: none;
    background-color: transparent;
}

i, span {
    width: 100%;
    color: white;
    font-size: 10px;
}

i {
    font-size: 20px;
}

.end-meeting {
    height: 100%;
    align-items: center;
    justify-content: end;
}

.end {
    width: 30%;
    display: inline-block;
    height: 40%;
    line-height: 30px;
    font-size: 15px;
    color: red;
    background-color: rgb(109, 109, 109);
    text-align: center;
    border-radius: 20px;
}

.view {
    width: 100%;
    text-align: end;
}


